.heading{
  text-align: center;
  color: white;
  font-size: 40px;
}
.input-box{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(102, 96, 96);
  color: white;
  box-shadow: 0 0 15px 10px black;
  outline: none;
}
.cloudimg{
 height: 200px;
}

.main-container{
  display: flex;
  justify-content: space-around;
  object-fit: cover;
}
.searchbar{
  margin-top: 30px;
}

.temperature{
position: relative;
margin-left: 25%;
top: -320px;
font-size: 50px;
color: white;
}
.env-div{
margin-left: 150px;
color: azure;
font-size: 20px;
position: relative;
top: -80px;
border: 1px solid;
width: 400px;
padding: 30px;
border-radius: 10px;
box-shadow: 0 0 15px 10px black;
}
 .img{
  height: 100px;
} 
.search-bar{
  position: relative;
  margin-left: 380px;
  top: -30px;

}
